# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file

pandas
numpy
pulsar-client
fastapi
uvicorn
gunicorn
sqlalchemy
langchain
langchain_experimental
openai
chromadb
tabulate
streamlit
python-dotenv
psycopg2-binary
tiktoken
streamlit_extras
watchdog
